.logo {
	font-size: 75px;
	color: black;
	margin-right: auto;
	margin-left: auto;
	height: 80px;
	font-family: mohave;
	text-decoration: none;
	vertical-align: middle;
}

.topBar {
	width: 100%;
	text-align: center;
}

.top {
	height: 150px;
	vertical-align: middle;
}

@font-face {
	font-family: mohave;
	src: url(mohave/packages/Mohave-Bold.otf);
}

a {
	text-decoration: none;
	color: white;
}

body {
	font-family: open sans;
	margin: 0;

}

.category {
	font-size: 50px;
	color: white;
	text-decoration: none;
	text-align: center;
	text-align: middle;
	background-color: #3498DB;
	height: 420px;
	width: 300px;
	margin: 30px;
	display: inline-block;
	vertical-align: top;
	line-height: 40px;
	font-family: mohave;
}

.category2 {
	font-size: 50px;
	color: white;
	text-decoration: none;
	text-align: center;
	font-family: mohave;
	background-color: #3498DB;
	height: 50px;
	width: 300px;
	margin: 30px;
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
}

.category:hover {
	background-color: white;
	color: #3498DB;
}

.category2:hover {
	background-color: white;
	color: #3498DB
}

.categoryPicture {
	height: 370px;
	width: 300px;
	background: url(notamountainlionexactly.jpg);
	background-size: cover;
	background-position: center;
	margin-bottom: 4px;
}

.break {

	margin-bottom: 30px;
	width: 100%;
	color: black;
	font-size: 50px;
	vertical-align: middle;
	font-family: mohave;
}

.line {
	display: inline-block;
	margin: 20px;
}

.title {
	font-size: 60px;
	text-align: center;
}

.aboutPicture {
	height: 250px;
	border-radius: 50%;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}

.about {
	width: 100%;;
}

.bio {
	font-family: open sans;
	font-size: 25px;
	width: 60%;
}

.container1 {
	width: 100%;
	vertical-align: top;
}

.container2 {
	max-width: 400px;
	margin-top: 10px;
	overflow-x: none;
	display: inline-block;
	vertical-align: top;
}

.galleryItem {
	width: 100%;
	display: inline-block;
}

.contact {
	font-size: 14px;
	font-family: open sans;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	text-decoration: none;
}

.back-to-top {
	background: none;
	margin: 10px;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 70px;
	height: 70px;
	z-index: 100;
	display: none;
	text-decoration: none;
}

.back-to-top i {
  font-size: 60px;
}

.addButton {
	height: 30px;
	text-decoration: none;
	margin: 4px;
	vertical-align: middle;
}

.addButtons {
	vertical-align: middle;
}

.bottomBar {
	font-family: open sans;
	font-size: 14px;
	color: white;
	height: 50px;
	width: 100%;
	min-width: 100%;
	background-color: #3498DB;
	position: fixed;
	bottom: 0px;
	text-decoration: none;
}

.buffer {
	height: 75px;
	position: relative;
	z-index: 200;
}

.email {
	text-align: right;
}